---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>The Alfandega</title>
   <script defer src="/_vercel/insights/script.js"></script>
	</head>
	<body>
		<style>
			html,
			body {
			padding: 0;
			margin-left: 10%;
			margin-right: 10%;
			font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
				Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
			line-height: 1.6;
			font-size: 18px;
			background-color: rgb(212, 212, 212);
			color: rgb(0, 0, 0);
			}
			a {
			font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
				Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
			color: rgb(0, 0, 0);
			}
		</style>
		<h1>The Alfandega</h1>
		<p>Meet our philosophy <a href="./philosophy">here!</a></p>
		<h1>Help us pay customs fees for teenagers who thought it would be a dream but ended up in a nightmare:</h1>
	</body>
</html>
