---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>The Alfandega: philosophy</title>
   <script defer src="/_vercel/insights/script.js"></script>
	</head>
	<body>
		<style>
			html,
			body {
			padding: 0;
			margin-left: 10%;
			margin-right: 10%;
			font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
				Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
			line-height: 1.6;
			font-size: 18px;
			background-color: rgb(212, 212, 212);
			color: rgb(0, 0, 0);
			}
			a {
			font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
				Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
			color: rgb(0, 0, 0);
			}
		</style>
		<h1><a href="./">The Alfandega:</a> philosophy</h1>
		<p>It was announced that <a href="https://hackclub.com">Hack Club</a> will no longer reimburse customs fees for YSWS (You Ship, We Ship) project shipments.</p>
        <p>As part of the non-US Hack Club community there is no way to see this as a good thing. So why not do something? Let's go.</p>
        <p><i>~ Lucas</i></p>
		<h2>Why this name?</h2>
        <p>Alfandega is customs in portuguese.</p>