---
import { Analytics } from '@vercel/analytics/react';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>The Alfandega: philosophy</title>
	</head>
	<body>
		<Analytics />
		<style>
			html,
			body {
			padding: 0;
			margin-left: 10%;
			margin-right: 10%;
			font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
				Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
			line-height: 1.6;
			font-size: 18px;
			background-color: rgb(212, 212, 212);
			color: rgb(0, 0, 0);
			}
			a {
			font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
				Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
			color: rgb(0, 0, 0);
			}
		</style>
		<h1><a href="./">The Alfandega:</a> philosophy</h1>
		<p>It was recently announced that <a href="https://hackclub.com">Hack Club</a> will no longer reimburse customs fees for YSWS (You Ship, We Ship) project shipments.</p>
        <p>As part of the non-US Hack Club community I see this as another policy that will make more US only and less from other countries. It's definitely not a friendly measure for us non-US, I confess that if this had happened when I discovered Hack Club I wouldn't want to be part of a community that complicated the lives of non-US people. The Aduana project comes from the idea of helping non-US people, I know very well the reality of abusive customs fees and I know what it's like receive a charge for something you thought was a "gift", it breaks my heart to see people asking for refunds customs fees and having your requests denied by Hack Club, you do something (e.g. Game [Sprig]) you think it will arrive for free, but after a few weeks you receive a charge and what you thought would be free, ends very expensive. Not everyone has the financial means to pay these customs fees and our idea with this project is to help precisely these cases.</p>
        <p><i>~ Lucas</i></p>
		<h2>Why this name?</h2>
        <p>Alfandega is customs in portuguese.</p>